name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    env:
      RUNNER: ${{ secrets.RUNNER }}
      TEST_USER_NAME: ${{ secrets.TEST_USER_NAME }}
      TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-node@v5
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Clean previous Allure results
      run: rm -rf allure-results allure-report

    - name: Run Playwright tests
      run: npm run e2e:make-appoint

    - name: Generate Allure Report
      run: |
       npx allure generate allure-results --clean -o allure-report

    - name: Deploy Allure Report to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./allure-report
